<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @skill_table.title %>
</p>

<p>
  <strong>Experience length:</strong>
  <%= @skill_table.experience_length %>
</p>

<p>
  <strong>User rating:</strong>
  <%= @skill_table.user_rating %>
</p>

<p>
  <strong>Admin rating:</strong>
  <%= @skill_table.admin_rating %>
</p>

<p>
  <strong>User notes:</strong>
  <%= @skill_table.user_notes %>
</p>

<p>
  <strong>Admin notes:</strong>
  <%= @skill_table.admin_notes %>
</p>

<p>
  <strong>Date rated:</strong>
  <%= @skill_table.date_rated %>
</p>

<p>
  <strong>Link:</strong>
  <%= @skill_table.link %>
</p>

<%= link_to 'Edit', edit_skill_table_path(@skill_table) %> |
<%= link_to 'Back', skill_tables_path %>
